@tailwind base;

/** Base styles */
@layer base {
  .btn,
  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    @apply flex px-3 py-2 text-base rounded justify-center items-center font-bold;
  }

  .bg-darken {
    filter: brightness(80%);
  }

  .bg-lighten,
  .bg-lighten-hover:hover {
    filter: brightness(120%);
  }

  .btn:hover,
  .btn:focus,
  button:hover,
  button:focus {
    filter: brightness(120%);
  }

  .disabled,
  input:disabled,
  button:disabled {
    opacity: 0.7;
  }

  button:disabled {
    cursor: not-allowed;
  }

  a,
  .link {
    @apply cursor-pointer text-secondary;
  }

  .link:hover,
  .link:focus,
  a:hover,
  a:focus {
    filter: brightness(120%);
    text-decoration: underline;
  }

  a.no-underline:hover,
  a.no-underline:focus {
    text-decoration: none;
  }

  button:focus {
    @apply ring-2 ring-indigo-400;
  }

  button:active {
    @apply scale-95;
  }

  input,
  [type="text"],
  [type="email"],
  [type="password"],
  [type="search"],
  [type="tel"],
  [type="url"],
  textarea {
    border-radius: 0.2em;
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }

  h1 {
    @apply text-2xl font-bold bg-light shadow-md text-dark p-4;
  }

  h2 {
    @apply text-lg font-bold text-dark;
  }

  h3 {
    @apply text-base font-bold text-dark;
  }

  section {
    @apply flex flex-col flex-grow p-4;
  }

  table {
    @apply bg-white border-collapse;
  }

  table thead {
  }

  table thead tr {
  }

  table thead th {
    @apply bg-navy-50 border border-gray-50 uppercase text-left text-xs m-0 py-1 px-0 leading-tight max-w-64 truncate;
  }

  table tbody {
  }

  table tbody tr {
    @apply even:bg-gray-50;
  }

  table tbody tr td {
    @apply border border-gray-100 text-sm m-0 py-1 px-0 leading-tight max-w-64;
  }
}

@tailwind components;
@tailwind utilities;

@import "./App.css";
